body {
    margin: 0;
    padding: 0;
}


.mainBox {
    background-color: grey;
    text-align: center;
    width: 350px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
}

.bottom {
    text-align: center;
}

h1, p, h2 {
    text-align: center;
}

h1 {
    color: #F08080;
    font-size: 70px;
}

.backButton {
    text-align: right;
}


 .success-message{
     color:green
 }
.error-message{
    color:red;
}
